<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USER MANAGEMENT</title>
</head>
    <body align="center">
        <h3>USERS MANAGEMENT</h3>
        <table border="1" align="center">
            <tr>
                <th>INDEX</th>
                <th>ID</th>
                <th>USERNAME</th>
                <th>PASSWORD</th>
                <th>ROLES</th>
                <th>EDIT</th>
                <th>DELETE</th>
            </tr>
            <tr th:each="user, state : ${users}">
                <td th:utext="${state.count}">INDEX</td>
                <td th:utext="${user.id}">ID</td>
                <td th:utext="${user.username}">USERNAME</td>
                <td> * * * * * </td>
                <td> <span th:each="role:${user.roleSet}"> <span th:text="${role.role}"></span><br></span> </td>
                <td>
                    <form th:method="PATCH" th:action="@{/admin/{id}/edit (id=${user.id})}">
                        <input type="submit" value="EDIT">
                    </form>
                </td>
                <td>
                    <form th:method="DELETE" th:action="@{/admin/{id}/delete (id=${user.id})}">
                        <input type="submit" value="DELETE">
                    </form>
                </td>
            </tr>
            <tr>
                <form th:method="POST" th:action="@{/admin/usersManagementMain}" th:object="${newUser}">
                    <td colspan="2" align="right">CREATE NEW USER:</td>
                    <td><input type="text" th:field="*{userName}"/></td>
                    <td><input type="text" th:field="*{password}"/></td>
                    <td><span th:each="role:${allroles}"><input type="checkbox" name="roleId" th:value="${role.id}"/><label th:utext="${role.role}"></label><br></span></td>
                    <td colspan="2" align="center"><input type="submit" value="CREATE"/></td>
                </form>
            </tr>
        </table>
        <h3 align="center"><a href="/logout">YOU CAN LOGOUT HERE</a></h3>
    </body>
</html>